body {
  background-color: rgb(192, 194, 199);
  color: white;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("banner_small.jpg");
  background-size: cover;
  font-weight: bold;
  min-height: 99vh;
  position: relative;
}
a {
  margin: 0.5rem;
  text-decoration: none;
  color: white;
}
a .button {
  background-color: rgb(35, 35, 35);
}
a:hover .button {
  background-color: rgb(43, 43, 43);
}
a:active .button {
  background-color: rgb(51, 51, 51);
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 1.8rem;
}
.button {
  padding: 0.8rem;
  height: min-content;
  color: rgb(255, 255, 255);
}

#logo {
  width: 100%;
  padding: 3rem 3.5rem;
  height: auto;
  box-sizing: border-box;
}
#link-area {
  text-align: center;
  width: calc(100vw - 2rem);
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 1rem;
  padding-bottom: 3rem;
}
#banner-text-box {
  margin: 2rem;
  text-align: center;
  line-height: 1.3;
  font-size: 1.2rem;
}
#banner {
  width: 100%;
  height: 96vh;
  display: flex;
  flex-direction: row;
}
#contact-box {
  text-align: center;
  padding: 1rem;
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 0.6);
  word-wrap: break-word;
  text-transform: uppercase;
  margin-top: 5rem;

}

#contact-box a:hover {
  text-decoration: underline;
}
@media screen and (min-width: 560px) {
  #logo {
    width: 80vw;
    margin-left: 10vw;
  }
}
